@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap");
:root {
  --fs-100: 13px;
  --fs-150: .9rem;
  --fs-200: 1.25rem;
  --fs-300: 2rem;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
}

* {
  font-family: "Manrope", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.hero::before {
  content: "";
  background-image: url("https://raw.githubusercontent.com/ArthurGC/interactive-pricing-component/e49761016af3776f9f5612841b77da285c1d756c/images/pattern-circles.svg");
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
}

.hero {
  background: #fafbff;
  padding: 5.5rem 1rem;
  width: 100%;
  height: 100vh;
}

.title {
  text-align: center;
  font-size: var(--fs-200);
  font-weight: 800;
  color: #293356;
}

.dsc {
  text-align: center;
  font-size: var(--fs-100);
  color: #858fad;
  padding: 0.5rem 5rem;
  margin-bottom: 4rem;
}

.card {
  background: white;
  padding: 1.5rem 1.5rem 1.6rem;
  border-radius: 0.3rem;
}
.card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.3rem;
}
.card__header__amount {
  margin-right: 5px;
}
.card__header__amount, .card__header__views {
  font-size: var(--fs-100);
  color: #858fad;
  font-weight: 800;
  letter-spacing: 1px;
}
.card__header__money {
  display: none;
  font-size: var(--fs-300);
  font-weight: 800;
  margin-right: 5px;
}
.card__header__month {
  display: none;
  font-size: var(--fs-100);
  color: #858fad;
  font-weight: 800;
}
.card__slider {
  text-align: center;
  margin-bottom: 1.9rem;
  position: relative;
}
.card__slider .bar {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 7px;
  height: 10px;
  border-radius: 5px;
  background: white;
  overflow: hidden;
}
.card__mobile-money {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.card__mobile-money__money {
  font-size: var(--fs-300);
  font-weight: 800;
  margin-right: 5px;
}
.card__mobile-money__month {
  font-size: var(--fs-100);
  color: #858fad;
  font-weight: 800;
}
.card__plans {
  text-align: center;
  margin-bottom: 2.3rem;
}
.card__plans__monthly, .card__plans__yearly {
  font-size: var(--fs-100);
  color: #858fad;
  font-weight: 600;
}
.card__plans__discount, .card__plans__discount2 {
  font-size: 10px;
  color: #ff8c66;
  background: #feece7;
  padding: 2px 10px;
  border-radius: 20px;
  font-weight: 800;
}
.card__plans__discount2 {
  display: none;
}
.card__check {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  margin-bottom: 0.8rem;
}
.card__check p:nth-child(1),
.card__check p:nth-child(2) {
  margin-bottom: 0.4rem;
}
.card__check__icon img {
  width: 10px;
  height: 10px;
  margin-right: 1rem;
}
.card__check__dsc {
  font-size: var(--fs-100);
  color: #858fad;
  font-weight: 600;
}
.card__btns {
  text-align: center;
}
.card__btns__btn {
  color: white;
  background: #293356;
  padding: 0.65rem 3rem;
  border: none;
  border-radius: 2rem;
  transition: background 0.5s, color 0.5s;
}
.card__btns__btn:hover {
  background: #10d5c2;
  color: #293356;
}

.switch {
  margin: 0 1rem;
}

.card__slider input[type=range] {
  -webkit-appearance: none;
  position: relative;
  z-index: 2;
  margin: 0;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
}
.card__slider .fill {
  display: block;
  width: 50%;
  height: 100%;
  background: #10d5c2;
}
.card__slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 10px;
  background: #10d5c2;
  background-image: url("https://raw.githubusercontent.com/ArthurGC/interactive-pricing-component/e49761016af3776f9f5612841b77da285c1d756c/images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  margin-top: -5px;
  cursor: pointer;
  outline: none;
}
.card__slider input[type=range]::-webkit-slider-thumb:hover {
  background: #a5f3eb;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch .checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bdccff;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

.checkbox:hover + .slider {
  background-color: #a5f3eb;
}

.checkbox:checked + .slider {
  background-color: #10d5c2;
}

.checkbox:focus + .slider {
  box-shadow: 0 0 1px #10d5c2;
}

.checkbox:checked + .slider:before {
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 580px) {
  :root {
    --fs-80: .8rem;
    --fs-100: .95rem;
    --fs-200: 1.75rem;
  }

  .hero {
    padding: 6.5rem 1rem;
  }

  .card {
    margin-top: 5.1rem;
    width: 535px;
    margin-inline: auto;
    padding: 3rem 3rem 1rem;
  }
  .card__header {
    justify-content: space-between;
  }
  .card__header__money {
    display: initial;
  }
  .card__header__month {
    display: initial;
  }
  .card__slider {
    margin-bottom: 3rem;
  }
  .card__mobile-money {
    display: none;
  }
  .card__plans__monthly, .card__plans__yearly {
    font-size: var(--fs-80);
  }
  .card__plans__discount {
    display: none;
  }
  .card__plans__discount2 {
    display: initial;
    margin-left: 1rem;
  }
  .card__flex__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .card__check {
    text-align: left;
    border-top: none;
  }
  .card__check__dsc {
    font-size: var(--fs-80);
  }
}/*# sourceMappingURL=styles.css.map */