@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700&display=swap');

$clr-sidebar-soft-cyan: hsl(174, 77%, 80%);
$bg-slider-strong-cyan: hsl(174, 86%, 45%);
$bg-discnt-light-grayish-red: hsl(14, 92%, 95%);
$clr-dscntext-light-red: hsl(15, 100%, 70%);
$clr-ctatext-plae-blue: hsl(226, 100%, 87%);

$clr-white: hsl(0, 0%, 100%);
$bg-main-pale-blue: hsl(230, 100%, 99%);
$clr-emptyslider-light-grayish-blue: hsl(224, 65%, 95%);
$bg-toggle-light-grayish-blue: hsl(223, 50%, 87%);
$clr-text-grayish-blue: hsl(225, 20%, 60%);
$bg-clr-dark-blue: hsl(227, 35%, 25%);

:root{
    --fs-100: 13px;
    --fs-150: .9rem;
    --fs-200: 1.25rem;
    --fs-300: 2rem;
}

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
}
*{
    font-family: 'Manrope', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.hero::before{
    content: '';
    background-image: url('https://raw.githubusercontent.com/ArthurGC/interactive-pricing-component/e49761016af3776f9f5612841b77da285c1d756c/images/pattern-circles.svg');
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%,0);
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
}
.hero{
    background: $bg-main-pale-blue;
    padding: 5.5rem 1rem;
    width: 100%;
    height: 100vh;
}
.title{
    text-align: center;
    font-size: var(--fs-200);
    font-weight: 800;
    color: $bg-clr-dark-blue;
}
.dsc{
    text-align: center;
    font-size: var(--fs-100);
    color: $clr-text-grayish-blue;
    padding: .5rem 5rem;
    margin-bottom: 4rem;
}
.card{
    background: $clr-white;
    padding: 1.5rem 1.5rem 1.6rem;
    border-radius: .3rem;
    &__header{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.3rem;
        &__amount{
            margin-right: 5px;
        }
        &__amount,
        &__views{
            font-size: var(--fs-100);
            color: $clr-text-grayish-blue;
            font-weight: 800;
            letter-spacing: 1px;
        }
        &__money{
            display: none;
            font-size: var(--fs-300);
            font-weight: 800;
            margin-right: 5px;
        }
        &__month{
            display: none;
            font-size: var(--fs-100);
            color: $clr-text-grayish-blue;
            font-weight: 800;
        }
    }
    &__slider{
        text-align: center;
        margin-bottom: 1.9rem;
        position: relative;
        .bar{
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 7px;
            height: 10px;
            border-radius: 5px;
            background: $clr-white;
            overflow: hidden;
        }

    }
    &__mobile-money{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        &__money{
            font-size: var(--fs-300);
            font-weight: 800;
            margin-right: 5px;
        }
        &__month{
            font-size: var(--fs-100);
            color: $clr-text-grayish-blue;
            font-weight: 800;
        }
    }
    &__plans{
        text-align: center;
        margin-bottom: 2.3rem;
        &__monthly,
        &__yearly{
            font-size: var(--fs-100);
            color: $clr-text-grayish-blue;
            font-weight: 600;
        }
        &__discount,
        &__discount2{
            font-size: 10px;
            color: $clr-dscntext-light-red;
            background: $bg-discnt-light-grayish-red;
            padding: 2px 10px;
            border-radius: 20px;
            font-weight: 800;
        }
        &__discount2{
            display: none;
        }
    }
    &__check{
        border-top: 1px solid rgba($color: #000, $alpha: .1);
        padding: 1rem;
        text-align: center;
        margin-bottom: .8rem;
        p:nth-child(1),
        p:nth-child(2){
            margin-bottom: .4rem;
        }
        &__icon{
            img{
                width: 10px;
                height: 10px;
                margin-right: 1rem;
            }
        }
        &__dsc{
            font-size: var(--fs-100);
            color: $clr-text-grayish-blue;
            font-weight: 600;
        }
    }
    &__btns{
        text-align: center;
        &__btn{
            color: $clr-white;
            background: $bg-clr-dark-blue;
            padding: .65rem 3rem;
            border: none;
            border-radius: 2rem;
            transition: background .5s, color .5s;
            &:hover{
                background: $bg-slider-strong-cyan;
                color: $bg-clr-dark-blue;
            }
        }
    }
}

.switch{
    margin: 0 1rem;
}
.card__slider{
    input[type=range]{
        -webkit-appearance: none;
        position: relative;
        z-index: 2;
        margin: 0;
        width: 100%;
        height: 10px;
        border-radius: 5px;
        outline: none;
        background-color: transparent;
    }
    .fill{
        display: block;
        width: 50%;
        height: 100%;
        background: $bg-slider-strong-cyan;
    }
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding: 10px;
        background: $bg-slider-strong-cyan;
        background-image: url('https://raw.githubusercontent.com/ArthurGC/interactive-pricing-component/e49761016af3776f9f5612841b77da285c1d756c/images/icon-slider.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        margin-top: -5px;
        cursor: pointer;
        outline: none;
    }
    input[type=range]::-webkit-slider-thumb:hover{
        background: $clr-sidebar-soft-cyan;
    }

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch .checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $clr-ctatext-plae-blue;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .checkbox:hover + .slider{
    background-color: $clr-sidebar-soft-cyan;
  }
  .checkbox:checked + .slider {
    background-color: $bg-slider-strong-cyan;
  }
  
  .checkbox:focus + .slider {
    box-shadow: 0 0 1px $bg-slider-strong-cyan;
  }
  
  .checkbox:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  @media (min-width: 580px){
    :root{
        --fs-80: .8rem;
        --fs-100: .95rem;
        --fs-200: 1.75rem;
    }
    .hero{
        padding: 6.5rem 1rem;
    }
    .card{
        margin-top: 5.1rem;
        width: 535px;
        margin-inline: auto;
        padding: 3rem 3rem 1rem;
        &__header{
            justify-content: space-between;
            
            &__money{
                display: initial;
            }
            &__month{
                display: initial;
            }
        }
        &__slider{
            margin-bottom: 3rem;
        }
        &__mobile-money{
            display: none;
        }
        &__plans{
            &__monthly,
            &__yearly{
                font-size: var(--fs-80);
            }
            &__discount{
                display: none;
            }
            &__discount2{
                display: initial;
                margin-left: 1rem;
            }
        }
        &__flex__footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid rgba($color: #000, $alpha: .1);
        }
        &__check{
            text-align: left;
            border-top: none;
            &__dsc{
                font-size: var(--fs-80);
            }
        }
    }
  }